<!doctype html>
<html class="no-js" lang="az" style="overflow-x: hidden; max-width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF6B63">

    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="libs/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="libs/owl.carousel/owl.theme.default.min.css"> -->

    <link rel="stylesheet" type="text/css" href="libs/bootstrap-select/bootstrap-select.min.css">

    <!-- <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"> -->
    <link rel="stylesheet" href="libs/font-awesome/css/all.css">

    <link rel="stylesheet" href="css/main/main.min.css">

</head>
<body style=" max-width: 100%; overflow-x: hidden;">
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


<header>

    <div class="header__first-row">
        <div class="container">

        </div>
    </div>


    <div class="header__second-row">
        <div class="container">
            <div class="header__row-inner">
                <a href="" class="login">
                    <i class="material-icons">&#xe7fd;</i>
                    <span>Daxil ol</span>
                </a>
                <button class="header__menu-open">
                    <i class="material-icons">&#xe5d2;</i>
                </button>
            </div>
        </div>

        <div class="header__dropdown">
            <button class="material-icons header__menu-close">&#xe5cd;</button>
            <div class="container">
                <ul class="header__menu">
                    <li class="header__menu-item"><a href="">ANA SƏHİFƏ</a></li>
                    <li class="header__menu-item"><a href="">MƏRKƏZİ BANK</a></li>
                    <li class="header__menu-item"><a href="">ƏLAQƏ</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>
