<!doctype html>
<html class="no-js" lang="az" style="overflow-x: hidden; max-width: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FF6B63">

    <!-- <link rel="apple-touch-icon" href="icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="libs/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="libs/owl.carousel/owl.theme.default.min.css"> -->

    <link rel="stylesheet" type="text/css" href="libs/bootstrap-select/bootstrap-select.min.css">

    <!-- <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css"> -->
    <link rel="stylesheet" href="libs/font-awesome/css/all.css">

    <link rel="stylesheet" href="css/main/main.min.css">

</head>
<div class="bg-image"></div>
<body style=" max-width: 100%; overflow-x: hidden;" tabindex="1">

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


<header>

</header>
